<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Add a page</h2>

<a href="/admin/pages/add-page" class="btn btn-primary">Add a new page</a>
<br><br>

<table class="table table-striped sorting">

    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<%- include('../_layouts/adminfooter') %>
